<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %> 
    <link rel="stylesheet" href="path_to_bootstrap/bootstrap.min.css">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container" style="display: table; height: 400px; #position: relative; overflow: hidden;">
    <div style=" #position: absolute; #top: 50%;display: table-cell; vertical-align: middle;">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <div class="hero-unit" style=" #position: relative; #top: -50%">
	      <%= yield %>
      </div>
    </div>      
    </div>
  </body>
</html>



